<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 指定字符集 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户信息管理系统</title>
    <!-- 1. 导入CSS的全局样式 -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- 2. jQuery导入，建议使用1.9以上的版本 -->
<!--    <script src="js/jquery-2.1.0.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- 3. 导入bootstrap的js文件 -->
    <!-- <script src="js/bootstrap.min.js"></script>-->
    <style type="text/css">
        td, th {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <h3 style="text-align: center;margin-bottom: 50px;">用户信息列表</h3>
    <div style="float: left;">
        <form class="form-inline">
            <div class="form-group">
                <label for="ipt_name">姓名</label>
                <input v-model="name" name="name" type="text" class="form-control" id="ipt_name">
            </div>
            <div class="form-group">
                <label for="ipt_address">籍贯</label>
                <input name="address" v-model="address" type="text" class="form-control" id="ipt_address">
            </div>
            <div class="form-group">
                <label for="ipt_email">邮箱</label>
                <input name="email" type="email" v-model="email" class="form-control" id="ipt_email">
            </div>
            <button id="submit1" type="button" class="btn btn-default" v-on:click="searchUsers()">查询</button>
        </form>
    </div>
    <div style="float: right;margin-bottom: 15px">
        <a class="btn btn-primary" href="add.html">添加用户</a>
        <a id="delete" class="btn btn-primary" href="javascript:del()">删除选中</a>
    </div>
    <table border="1" class="table table-bordered table-hover">
        <tr class="success">
            <th>选择</th>
            <th>编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>籍贯</th>
            <th>QQ</th>
            <th>邮箱</th>
            <th>超管</th>
            <th>操作</th>
        </tr>
        <tbody id="info" >
                <tr v-for="(item,info,index) in userinfos" >
                    <th>
                        <input id="1" type="checkbox">
                    </th>
                    <th>{{info+1}}</th>
                    <th>{{item.name}}</th>
                    <th>{{item.sex}}</th>
                    <th>{{item.age}}</th>
                    <th>{{item.address}}</th>
                    <th>{{item.qq}}</th>
                    <th>{{item.email}}</th>
                    <th v-text="item.isadmin == 1?'是':'否'"></th>
                    <th>
                        <a class="btn btn-default btn-sm" v-on:click="update(item.id)">修改</a>
                        <a class="btn btn-default btn-sm" v-on:click="del(item.id)">删除</a>
                    </th>
                </tr>

        </tbody>
    </table>
    <div>
        <nav aria-label="Page navigation">
            <ul id="all"  class="pagination">
                <li  v-bind:class="cpage>1?'':'disabled'"><a v-on:click="change(0)"><span aria-hidden="true">&laquo;</span></a></li>
                <li v-for="n in tpage" v-bind:class="cpage==n? 'active':''"><a v-on:click="changeTo(n)" >{{n}}</a></li>
                <li v-bind:class="cpage<tpage?'':'disabled'"><a v-on:click="change(1)"><span aria-hidden="true">&raquo;</span></a>
                                </li>
                <span style="font-size: 20px;margin-left: 10px;"> 共 {{tuser}} 条记录，共 {{tpage}}页
                                </span>

            </ul>

        </nav>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            userinfos:[],
            name:"",
            address:"",
            email:"",
            cpage:1,
            psize:3,
            tuser:0,
            tpage:0,
        },
        methods:{
            change:function (i){
                if(i == 0 && this.cpage > 1){
                    this.changeTo(this.cpage-1);
                }
                if(i == 1 && this.cpage < this.tpage){
                    this.changeTo(this.cpage+1);
                }
            },
            changeTo:function (page){
                this.cpage = page;
                this.getUsers();
            },
            update:function (id){
                location.href="update.html?id="+id;
            },
            del:function (id){
                if(confirm("确定要删除该用户信息嘛？")){
                    axios.get("user/del?id=" + id).then(res=>{
                        if(res.data.state == 1){
                            alert("删除成功！");
                            location.reload();
                        }else{
                            console.log("失败");
                        }
                    })
                }
            },
            getUsers:function (){
                axios.get("user/getUsers?" + "name="+this.name + "&email="+this.email+ "&address=" + this.address + "&cpage=" + this.cpage + "&psize=" + this.psize
                ).then(res=>{
                    console.log(res.data);
                    if(res.data.data != null && res.data.data.length != 0){
                        this.userinfos = res.data.data.users;
                        this.tuser = res.data.data.tcount;
                        this.tpage = res.data.data.cpage;
                    }
                })
            },
            searchUsers:function (){
                this.cpage = 1;
                this.getUsers();
            }
        }
    })
    window.onload = function (){
        app.getUsers();
    }
</script>
</html>
